body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
}
header {
    background: url("https://static.pexels.com/photos/2988/pattern-triangles.jpg");
    background-size: cover;
    min-height: 150px;
    outline: 1px solid black;
}
h1, .tagline {
    text-align: center;
}
h1 {
    padding-top: 20px;
    font-size: 55px;
    margin: 0 0 -10px 0;
}
.tagline {
    font-size: 1rem;
}
article {
    min-height: 250px;
    max-width: 500px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}
footer {
    text-align: center;
    padding-top: 10px;
}
footer a {
    margin: 0 10px;
    display: inline-block;
}
