body {
    font-family: Inconsolata, consolas, monospace, serif;
    margin: 0;
}
h1 {
    font-size: 3em;
}
main {
    left: 0;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
main a {
    color: black;
}
main p {
    font-size: 18px;
}
header, footer {
    text-align: center;
    padding: 15px 0 15px 0;
    background: black;
    width: 100%;
}
footer {
    bottom: 0;
    position: fixed;
}
footer a, header a{
    margin: 0 10px;
    display: inline-block;
    color: rgb(28, 229, 147);
}
