body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
}
.headbg {
    background: url("https://static.pexels.com/photos/2988/pattern-triangles.jpg");
    background-size: cover;
    min-height: 150px;
    outline: 1px solid black;
}
header {
    text-align: center;
}
h1 {
    padding-top: 20px;
    font-size: 55px;
    margin: 0 0 -10px 0;
}
.tagline {
    font-size: 1rem;
}
article {
    border-bottom: 2px solid black;
    padding: 0 20px 0 20px;
}
.textbox {
    border-top: 2px solid black;
    height: 350px;
    max-width: 500px;
    margin: 0 auto;
}
footer {
    text-align: center;
    padding: 15px 0 15px 0;
    background: rgb(50, 50, 50);
    overflow: auto;
}
footer a {
    margin: 0 10px;
    display: inline-block;
    color: rgb(28, 229, 147);
}
