body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    background: #E5E5E5;
}
.headbg {
    background: url("https://static.pexels.com/photos/2988/pattern-triangles.jpg");
    background-size: cover;
    min-height: 150px;
    outline: 1px solid black;
}
header {
    text-align: center;
    padding-top: 20px;
}
h1 {
    font-size: 55px;
}
.tagline {
    margin-top: -35px;
    margin-bottom: 10px;
    height: 100%;
}
article {
    border-top: 4px solid rgb(50, 50, 50);
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
}
footer {
    text-align: center;
    padding: 15px 0 15px 0;
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a {
    margin: 0 10px;
    display: inline-block;
    color: rgb(28, 229, 147);
}
